/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 150%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.contact {
  float: left;
  margin-right: 3em;
}

.contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/* custom */
h6.description {
  margin-bottom: 2em;
  font-size: 12px;
  color: #666;
  float:left;
  /*margin: 0;*/
  /*width: 60%;*/
}

.gittip{
  margin: 20px 0;
  font-weight: bold;
}

.search-wrapper {
  width: 53%;
  margin: 0;
  padding: 0;
  float: left;
}

.header ul li {
  list-style: none;
  height: 22px;
}

.site-search {
  width: 44%;
  float:right;
}

.social a {
  width: 32px;
  height: 32px;
  float:left;
  display:block;
  margin: 0 2px;
  background: url('http://i653.photobucket.com/albums/uu253/revathskumar/Signature/social-media-icons_zpsdd86c0a3.png') no-repeat 0px 0;
}

.social .twitter {
  background-position: -39px 0;
}

.social .linkedin {
  background-position: -75px 0;
}
.social .aboutme {
  background-position: -111px 0;
}
.social .youtube {
  background-position: -150px 0;
}
.social .stumbleupon {
  background-position: -184px 0;
}
.social .blogger {
  background-position: -221px 0;
}
.social .foursquare {
  background-position: -257px 0;
}
.social .stackoverflow {
  background-position: -293px 0;
}
.social .github {
  background-position: -330px 0;
}

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports 480px and over go here */
  .container{
    margin: 2px;
    width: 100%;
    text-overflow: '';
  }

  .site{
    font-size: 100%;
    width: 95%;
    padding: 0 5px;
  }

  .site img {
    width: 100%;
  }

  .header{
    text-align: center;
  }

  .header h6.description {
    float: none;
    height: 30px;
    font-size: 10px;
  }

  .search-wrapper {
    width: 100%;
    text-align: center;
  }

  .site-search {
    width: 100%;
  }

  .posts {
    width: 99%;
    overflow: hidden;
  }

  .posts li {
    text-align: left;
    white-space: nowrap;
    padding: 5px 0;
  }

  .posts li a{
    padding: 5px 0;
  }

  .posts li span {
    visibility: hidden;
    width: 0;
    margin-left: -70px;
  }

  .license {
    text-align: left;
    width: 90%;
  }
}

.highlight {
  line-height: 0.9em;
}
